body {
    display: flex; 
    justify-content: center;
    gap: 20px; 
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    color: #333;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 0;
}

input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    width: 100%;
    background-color: #0879da;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #5089fa;
}

input[type=button].small-toggle-button {
    padding: 5px 10px;
    width: 200px;
    display: inline-block;
}

#searchInput {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
.list-item {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    cursor: pointer;
}
#selectedItemsContainer {
    margin-top: 20px;
}
.selected-item {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    cursor: pointer;
}

textarea {
    width: 70%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: both;
    overflow: auto;
}

label {
    font-weight: bold;
}

.form-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#signup-container {
    flex: 0 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}
#modify-existing-container {
    flex: 0 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.report-row:hover {
    background-color: #f2f2f2;
}
#report-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.button-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.small-text {
    font-size: 0.8em;
}

.highlighted {
    background-color: #fa8c8cab;
    color: white;
}

.tooltip {
    display: none;
    position: fixed;
    padding: 10px 15px;
    background: #333;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    max-width: 500px;
    z-index: 1000;
    white-space: nowrap;
}
.tooltip.visible {
    display: block;
}
.info-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* Optional styling for the tooltip */
}
.info-tooltip .info-tooltiptext {
    visibility: hidden;
    width: 280px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px; /* Smaller text size for tooltips */
}

.info-tooltip:hover .info-tooltiptext {
    visibility: visible;
    opacity: 1;
}

.collapsible-content {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-top: 5px;
}
.collapsible-button {
    background-color: #0879da;
    color: white;
    padding: 5px 10px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.collapsible-button:hover {
    background-color: #5089fa;
}

.login-logo {
    display: block;
    margin: 0 auto;
    max-width: 250px;
    height: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    background-color: rgba(230, 230, 230, 0.877);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#modalTabs {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 100%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#reportTable tr:empty {
    height: 20px; 
}
.wip-row {
    background-color: #fae0b1;
}


/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode input[type=text], 
body.dark-mode input[type=password], 
body.dark-mode select {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #444444;
}

body.dark-mode input[type=button] {
    background-color: #0879da;
    color: white;
}

body.dark-mode .modal-content {
    background-color: #333333;
    color: white;
}

/* Dark Mode containers */
body.dark-mode #report-container {
    background-color: #1e1e1e;
    color: white;
}

body.dark-mode .form-container {
    background-color: #1e1e1e;
    color: white;
}

body.dark-mode .container {
    background-color: #1e1e1e;
    color: white;
}

body.dark-mode textarea {
    background-color: #333333;
    color: white;
}

body.dark-mode .report-row:hover {
    background-color: #7a7a7a;
}

/* Dark Mode table styles */
body.dark-mode table {
    color: white;
    background-color: #333333;
    border-color: #444444;
}

body.dark-mode th, 
body.dark-mode td {
    color: white;
    border-color: #444444;
}

body.dark-mode .info-tooltip .info-tooltiptext {
    background-color: #555555;
    color: white;
}

body.dark-mode .wip-row {
    background-color: #664e30;
}

/* Dark Mode collapsibles */
body.dark-mode .collapsible-content {
    background-color: #1e1e1e;
    border-color: #444444;
    color: white;
}

/* Dark Mode links */
body.dark-mode a {
    color: #0879da; /* Light blue for dark mode */
}

body.dark-mode a:hover {
    color: #1E90FF; /* Dodger blue for hover */
}


/* Toggle switch styles */
.dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}