#event-log-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.graph-tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
    pointer-events: none;
    font-size: 12px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    opacity: 0; /* Start invisible */
    transition: opacity 0.2s ease;
}

#funnel-steps{
    display: flex;
    flex-direction: row;
    width: min-content;
}

#data-filters{
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: min-content;
}